# Python
__pycache__/
*.py[cod]

# Entorno virtual
venv/
.venv/
env/

# Variables de entorno
.env

# Django
*.sqlite3
staticfiles/
media/

# IDE
.vscode/
.idea/

# Tests
.pytest_cache/
.coverage
htmlcov/
